/* Обертка для сетки карточек типов объектов */
.object-build-grid-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
  
/* Сетка карточек типов объектов */
.object-build-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Автоматическое заполнение колонок */
    gap: 20px;
    justify-items: center;
    width: 100%;
    margin: 0 auto; /* Центрирование контейнера по горизонтали */
    max-width: 800px; /* Максимальная ширина для контейнера */
    box-sizing: border-box;
}
  
/* Карточка типа объекта */
.object-build-card {
    background-color: #444;
    border: 2px solid #888;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, border-color 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 150px;
    min-height: 150px;
    box-sizing: border-box;
    overflow: hidden; /* Прячем выходящее за границы содержимое */
}
  
.object-build-card:hover {
    background-color: #444;
}
  
.object-build-card.selected {
    border-color: #007bff;
    background-color: #555;
}
  
.object-build-image {
    width: 100%;
    max-width: 100px; /* Ограниченная максимальная ширина изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    object-fit: contain; /* Сохранение пропорций изображения внутри контейнера */
    border-radius: 4px;
    margin-bottom: 10px;
}
  
.object-build-card h3 {
    margin: 0;
    font-size: 15px;
    line-height: 1.2;
    color: #f0f0f0;
}
  
.quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
  
.quantity-controls button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.quantity-controls button:hover {
    background-color: #0056b3;
}
  
.quantity-controls button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}
  
.quantity-controls span {
    margin: 0 10px;
    font-size: 14px;
    color: #f0f0f0;
}
  
.confirm {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
}
  
.confirm:hover {
    background-color: #218838;
}