/* src/App.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1e1e; /* Тёмный фон для всей страницы */
  color: #f0f0f0; /* Цвет текста для контраста */
  font-family: Arial, sans-serif; /* Шрифт по умолчанию */
}

.App {
  text-align: center;
}

.App-header {
  background-color: rgba(40, 44, 52, 0); /* Полупрозрачный фон */
  min-height: 60px; /* Установите высоту заголовка по вашему желанию */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
  width: 100%;
  box-sizing: border-box;
  position: fixed; /* Плавающая позиция */
  top: 0; /* Закрепить в верхней части экрана */
  left: 0;
  z-index: 1000; /* Убедитесь, что заголовок выше других элементов */
}

.App-content {
  margin-top: 60px; /* Отступ, чтобы контент не перекрывался заголовком */
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

